/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 428px;
}

.box-titel {
  background: #d7a1fd;
}

.box-titel p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

nav {
  background: #000;
}

nav a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.box-card h2 {
  text-align: center;
  font-size: 19px;
  font-weight: 800;
  text-align: center;
}

.box-card p {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  padding: 20px;
}

.box-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 20px;
}

.card {
  border: #000;
  border-width: 1px;
  border-style: solid;
  width: 189px;
}

h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}
